// Переменные
//===================================================

// Цвета ============================================
$white: #ffffff;
$white-2: #ffffffd9;
$white-3: #ffffffb2;
$white-4: #dfdfe1;

$blue: #43abf0;
$blue-2: #3e9cdc;
$blue-3: #286690;
$blue-4: #42a9ed;

$black: #000000;
$black-2: #10101de5;
$black-3: #2a2b30;
$black-4: #272733;
$black-5: #3d4050;
$black-6: #3d4050d9;

$gray: #bbbbbb;
$gray-2: #c4c4c4;
$gray-3: #c3c3c3;
$gray-4: #6f6d7b;
//===================================================
